@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body {
    margin: 0;
    background-color: #342A2A;
}

.container {
    margin: auto;
    font-size: 15px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
  }
